<!-- Intro -->
<div id="index-banner" class="parallax-container main-title">
  <div class="section">
    <div class="container">
      <div class="row center">
        <div class="col s12" id="main-title">
          <h5 class="center" id="subtitle">Find and save your favorite articles from goop.com here</h5>
          <br>
        </div>
      </div>
    </div>
  </div>
 
<!-- Container -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <br>
        <div class="row">
          <!-- Articles -->
          {{#each data}}
           <div class="col s12 m12">
           <ul class="collection">
    <li class="collection-item avatar">
       <img src="{{this.photo}}" alt="article-photo" class="circle">
      <span class="title">{{this.title}}</span>
      <p class="summary">{{this.summary}}</p> <br>
        <a class="url" href="{{this.link}}"></a>
       <a class="waves-effect waves-light btn deleteSavedArticle" data-id="{{this.id}}"><i class="material-icons right" >clear</i>Delete From Saved</a>
       <a class="waves-effect waves-light btn modal-trigger addComment" data-target="modal1" data-id="{{this.id}}"><i class="material-icons right">note_add</i>Article Notes</a>
    </li>
    </ul>
    </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Comments</h4>
       <p><strong>{{this.title}}</strong></p>
            {{#each this.comments}}
            <hr>
            <p>{{this.comments}}
              <a class="btn-flat waves-effect waves-light" id="removeComment" data-id="{{this.id}}" style="float:right!important"><i
                  class="material-icons">close</i></a>
            </p>
            {{/each}}
    <hr>
    <textarea id="new-comment-field"></textarea>
    <a class="waves-effect waves-light btn" id="addCommentBtn" data-id="{{this.id}}"><i class="material-icons right">note_add</i>Add Comment</a>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close X</a>
    </div>
  </div>
